body {
    margin: 0;
}

.header {
    .logo {
       

        // svg {
        //     height: 2em;
        //     width: 6em;
        // }
    }
    p{
        float:left;
        display: inline;
    }

    nav {
        ul {
            li {
                display: inline-block;
                list-style-type: none;
                margin: 3px;
                padding: 10px;

                a {
                    text-decoration: none;
                    color: b
                }
            }
        }

        .sub-menu {
            display: none;

            &:hover .menu-item {
                display: block;
            }
        }
    }
}

.hero {
    display: flex;
    width: 100%;
    margin: 1em;
    border: 1px solid;
    border-radius: 1px;

    .image-slider {
        width: 60%;
        height: 380px;
        overflow: hidden;
        margin: 1em;
        border: 1px dashed;

    }

    .leaders {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 40%;
        height: 100%;
        margin: 2px;
        border: 1px dashed;

        .leader-items {
            width: 100%;
            height: 33.33%;
            border: 1px solid;
            margin: 0.5em;
            padding: 1em;
            border-radius: 15px;

            .title {
                font-size: 20px;
                font-weight: bold;
                float: left;
            }

            .desc {
                font-size: 15px;
                font-weight: bold;
            }
        }
    }

}